$buttonWidth: 70px;

@mixin rainbow-button {
	display: inline-block;
	line-height: 24px;
	padding: 0 20px;
	font-size: 1em;
	text-decoration: none;
	border-radius: 4px;
	color: var(--tumblr-theme-garden-button-text);
	border: 1px solid var(--tumblr-theme-garden-primary);
	background: var(--tumblr-theme-garden-primary);
}

@mixin rainbow-button-hover {
	background: repeating-linear-gradient(
			90deg,
			var(--tumblr-theme-garden-red) 0%,
			var(--tumblr-theme-garden-orange),
			var(--tumblr-theme-garden-yellow),
			var(--tumblr-theme-garden-green),
			var(--tumblr-theme-garden-violet),
			var(--tumblr-theme-garden-red) 50%
	);
	background-size: 90px 100%;
	animation: play 1.5s linear infinite;
	color: #000;
}

body {
	--tumblr-theme-garden-primary: #49a2c4;
	--tumblr-theme-garden-secondary: #8eb2c0;
	--tumblr-theme-garden-background: #f1f1f1;
	--tumblr-theme-garden-text: #49a2c4;
	--tumblr-theme-garden-button-text: #fff;
	--tumblr-theme-garden-red: #f8c7c3;
	--tumblr-theme-garden-orange: #f8d8bf;
	--tumblr-theme-garden-yellow: #f0e794;
	--tumblr-theme-garden-green: #b9ebc8;
	--tumblr-theme-garden-violet: #d4caf7;
}

body.admin-color-light {
	--tumblr-theme-garden-primary: #04a4cc;
	--tumblr-theme-garden-secondary: #e5e5e5;
	--tumblr-theme-garden-text: #999;
}

body.admin-color-modern {
	--tumblr-theme-garden-primary: #3858e9;
	--tumblr-theme-garden-text: #1e1e1e;
}

body.admin-color-blue {
	--tumblr-theme-garden-primary: #4796b3;
	--tumblr-theme-garden-secondary: #74b6ce;
	--tumblr-theme-garden-text: #096484;
}

body.admin-color-coffee {
	--tumblr-theme-garden-primary: #c7a589;
	--tumblr-theme-garden-secondary: #9ea476;
	--tumblr-theme-garden-text: #46403c;
}

body.admin-color-ectoplasm {
	--tumblr-theme-garden-primary: #a3b745;
	--tumblr-theme-garden-secondary: #a3b745;
	--tumblr-theme-garden-text: #523f6d;
}

body.admin-color-midnight {
	--tumblr-theme-garden-primary: #e14d43;
	--tumblr-theme-garden-secondary: #363b3f;
	--tumblr-theme-garden-text: #25282b;
}

body.admin-color-ocean {
	--tumblr-theme-garden-primary: #9ebaa0;
	--tumblr-theme-garden-secondary: #738e96;
	--tumblr-theme-garden-text: #627c83;
}

body.admin-color-sunrise {
	--tumblr-theme-garden-primary: #dd823b;
	--tumblr-theme-garden-secondary: #e5e5e5;
	--tumblr-theme-garden-text: #000;
}

.tumblr-themes {
	display: grid;
	grid-template-columns: 95%;
	justify-content: center;
	width: 98%;
	margin: 0 auto;
}

.tumblr-theme {
	width: 100%;
	color: var(--tumblr-theme-garden-text);
	margin-bottom: 40px;
	font-family: monospace;
	filter: drop-shadow(-8px 8px 0 var(--tumblr-theme-garden-red));

	&:nth-child(5n + 2) {
		filter: drop-shadow(-8px 8px 0 var(--tumblr-theme-garden-orange));
	}

	&:nth-child(5n + 3) {
		filter: drop-shadow(-8px 8px 0 var(--tumblr-theme-garden-yellow));
	}

	&:nth-child(5n + 4) {
		filter: drop-shadow(-8px 8px 0 var(--tumblr-theme-garden-green));
	}

	&:nth-child(5n + 5) {
		filter: drop-shadow(-8px 8px 0 var(--tumblr-theme-garden-violet));
	}
}

@media screen and (min-width: 1601px) {

	.tumblr-themes {
		grid-template-columns: 22% 22% 22% 22%;
		justify-content: space-between;
	}
}

@media screen and (min-width: 1301px) and (max-width: 1600px) {

	.tumblr-themes {
		grid-template-columns: 30% 30% 30%;
		justify-content: space-between;
	}
}

@media screen and (min-width: 730px) and (max-width: 1300px) {

	.tumblr-themes {
		grid-template-columns: 47% 47%;
		justify-content: space-between;
	}
}

.tumblr-theme-header {
	display: flex;
	align-items: flex-start;
	overflow: hidden;
	position: relative;
	margin-left: -8px;
	width: calc(100% + 8px);
	height: 26px;
}

.tumblr-theme-title-wrapper {
	flex: initial;
	display: block;
	position: relative;
	margin-left: 4px;
	padding: 4px 4px 0 4px;
	max-width: 80%;
	text-overflow: ellipsis;
}

.tumblr-theme-content {
	background-color: var(--tumblr-theme-garden-background);
	padding: 10px;
	box-shadow:
		-2px -2px 0 0 var(--tumblr-theme-garden-background),
		0 -2px 0 0 var(--tumblr-theme-garden-background),
		-2px 0 0 0 var(--tumblr-theme-garden-background),
		0 2px 0 0 var(--tumblr-theme-garden-background),
		2px 0 0 0 var(--tumblr-theme-garden-background),
		0 0 0 2px var(--tumblr-theme-garden-text),
		-4px -4px 0 0 var(--tumblr-theme-garden-text),
		0 -4px 0 0 var(--tumblr-theme-garden-text),
		-4px 0 0 0 var(--tumblr-theme-garden-text),
		0 4px 0 0 var(--tumblr-theme-garden-text),
		4px 0 0 0 var(--tumblr-theme-garden-text);
}

.tumblr-theme-details {
	width: calc(100% - 4px);
	border: 2px solid var(--tumblr-theme-garden-secondary);
	border-radius: 4px;
	display: block;
	position: relative;
	overflow: hidden;
	padding: 0;

	label {
		display: none;
		z-index: 2;
		position: absolute;
	}

	img {
		width: 100%;
		height: auto;
		aspect-ratio: 100/67;
		object-fit: contain;
		margin-bottom: -6px;
		z-index: 1;
	}

	&:hover {
		label {
			top: 0;
			left: 0;
			width: 100%;
			height: auto;
			aspect-ratio: 100/67;
			object-fit: contain;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			background: radial-gradient(
					closest-side,
					#0000 calc(100% - 1px),
					var(--tumblr-theme-garden-background)
			) 0/ 3px 3px space;
		}

		.tumblr-theme-detail-button {
			@include rainbow-button;
			@include rainbow-button-hover;
			font-size: 16px;
			font-weight: 600;
			padding: 5px 20px;
		}
	}
}

.tumblr-theme-title {
	display: block;
	position: relative;
	background-color: var(--tumblr-theme-garden-background);
	padding: 3px 12px 0 10px;
	height: 18px;
	line-height: 18px;
	font-family: monospace;
	font-size: 1em;
	font-weight: 700;
	box-shadow:
		-2px 4px 0 var(--tumblr-theme-garden-background),
		0 -2px 0 var(--tumblr-theme-garden-background),
		-2px 0 0 var(--tumblr-theme-garden-background),
		2px 0 0 var(--tumblr-theme-garden-background),
		4px 2px 0 var(--tumblr-theme-garden-background),
		6px 4px 0 var(--tumblr-theme-garden-background),
		8px 6px 0 var(--tumblr-theme-garden-background),
		10px 8px 0 var(--tumblr-theme-garden-background),
		12px 10px 0 var(--tumblr-theme-garden-background),
		14px 12px 0 var(--tumblr-theme-garden-background),
		16px 14px 0 var(--tumblr-theme-garden-background),
		18px 16px 0 var(--tumblr-theme-garden-background),
		20px 18px 0 var(--tumblr-theme-garden-background),
		-4px 0 0 var(--tumblr-theme-garden-text),
		0 -4px 0 var(--tumblr-theme-garden-text),
		-2px -2px 0 var(--tumblr-theme-garden-text),
		2px -2px 0 var(--tumblr-theme-garden-text),
		4px 0 0 var(--tumblr-theme-garden-text),
		6px 2px 0 var(--tumblr-theme-garden-text),
		8px 4px 0 var(--tumblr-theme-garden-text),
		10px 6px 0 var(--tumblr-theme-garden-text),
		12px 8px 0 var(--tumblr-theme-garden-text),
		14px 10px 0 var(--tumblr-theme-garden-text),
		16px 12px 0 var(--tumblr-theme-garden-text),
		18px 14px 0 var(--tumblr-theme-garden-text),
		20px 16px 0 var(--tumblr-theme-garden-text);
}

.tumblr-theme-footer {
	position: relative;
	text-align: right;
	margin: 10px 0  0;
	padding: 0;
	width: 100%;

	a {
		@include rainbow-button;

		&:hover {
			@include rainbow-button-hover;
		}
	}
}

#tumblr-theme-garden-categories {
	margin: 10px;
}

#tumblr-theme-garden-category-select-form {
	display: inline;
}

@keyframes play {
	100% {
		background-position: -90px top;
	}
}

#theme-garden-heading {
	display: flex;
	align-items: center;
}

.tumblr-logo-icon {
	width: 30px;
	margin: 0 12px;
}

.tumblr-theme-garden-list-item {
	padding: 4px 10px;
	background: #000;
	border-radius: 6px;
}

.tumblr-theme-garden-link {
	cursor: pointer;
	border: none;
	outline: none;
	width: 80px;
	height: 16px;
	mask-image: url(../../images/tumblr-logo.png) ;
	background: repeating-linear-gradient(
			90deg,
			var(--tumblr-theme-garden-red) 0%,
			var(--tumblr-theme-garden-orange),
			var(--tumblr-theme-garden-yellow),
			var(--tumblr-theme-garden-green),
			var(--tumblr-theme-garden-violet),
			var(--tumblr-theme-garden-red) 50%
	);
}

.tumblr-theme-garden-link:hover {
	animation: play 1.5s linear infinite;
}

#tumblr-no-themes {
	display: block;
}
